<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


    
    <!--Fontawesome CDN-->
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/spc.css">
      <link rel="stylesheet" href="/css/profile.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src='/js/spc.js'></script>
      <title>Passport Nodejs</title>
</head>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body  >
  
  
        <input type="text" id="username" class="fadeIn second" name="ten_dn" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="mat_khau" placeholder="password">
        <button onclick="login()" class="fadeIn fourth" value="Log In">Đăng nhập</button>
      
  
<script>
    function login(){
      $.ajax({
        url: '/login',
        type: 'POST',
        data:{
          ten_dn:$('#username').val(),
          mat_khau: $('#password').val()
        }
      }).then(data=>{
        console.log(data)
      })
      .catch(err=>{
        console.log(err)
      })  
    }
  </script>
</body>



</html>