<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mhloaihoa</title>
</head>
<body>
    <div class='table-data'>
        <form action='/timkiem' method="POST">
            <input type='text' name="keyword" />
            <input type="submit" value="Tìm"/>
        </form>
        <table border='1'>
            <tr>
                <th>STT</th>
              
                <th>Tên hoa</th>
              
                <th>Hình</th>
              
            </tr>
            <% if(useData.length !=0){
                 var i= 1; 
                 useData.forEach(function(data){%>
            <tr>
                <td><%=i%></td>
                <td><a href='/hoa/chitiet/<%= data.mahoa%>'><%= data.tenhoa%></a></td>
               
                <td><img src="<%= data.fileLinks[0]%>"/></td>
             
            </tr>
            <% i++;%>
            <%})} else{%>
                <tr>
                    <td colspan="7">No data Found</td>
                </tr>
                <%}%>
        </table>
    </div>
</body>
</html>